<!-- November 19, 2018
Jessica Kincaid
Blogz Assignment 

blog.html

directed from the "all posts" link on the home page
This page displays all of the posts by all users. 

-->

{% extends "base.html" %}
{% block content %}

<h1>blog posts!</h1>

{% if blogs|length == 0 %}
<p>No entries yet</p>

{% else %}
<!-- 
<h1>blog users!</h1>

    <ul>
        {% for user in users %}
        <li>
        <a href="/user?id={{user.id}}">{{user.username}}</a>
        </li>
        {% endfor %}
    </ul> -->
    <ul>
        {% for blog in blogs %}
        
        <li>
            <a href="/blog?id={{blog.id}}" ></h1>{{blog.title}}</h1></a>
            </li>
            <li>
            <p>{{blog.body}}</p>
            </li>
        <li>
        <a href="./?id={{blog.user}}" ><h1>{{blog.user}}</h1> </a>
        </li>

<hr />
        {% endfor %}
    </ul>
    
{% endif %}
{% endblock %}
