<!-- November 19, 2018
Jessica Kincaid
Blogz Assignment 
blog.html

Directed from the "all posts" link on the home page
This page displays all of the posts by all users. 
-->

{% extends "base.html" %}
{% block content %}

<h2>blog posts!</h2>

{% if blogz|length == 0 %}
<p>No entries yet</p>

{% else %}

    <ul>
        {% for blog in blogz %}
        
        <li>
            <a href="./?id={{blog.user}}">
                <h3>{{blog.title}}</h3>
            </a>
            </li>
            <p>{{blog.body}}</p>
            </li>
    <hr />
        {% endfor %}
    </ul>
    
{% endif %}
{% endblock %}

<!-- 
Note:

@app.route('/', methods=['POST', 'GET'])
def index():
    user_list = []
    user_list = User.query.all()
    return render_template('index.html', users=user_list) 


@app.route('/blog', methods=['POST', 'GET'])
def view_blog():
    id=request.args.get('id')
    # if id:
    #     blog=Blog.query.filter_by(id=id).first()
    blogz = Blog.query.all()
    return render_template('blog.html', blogs=blogz)
-->
