<!-- November 19, 2018
Jessica Kincaid
Blogz Assignment 

index.html

HOME PAGE
Displays all of the users' names, linking each to their individual page. 
-->


{% extends "base.html" %}

{% block content %}

{% if users|length == 0 %}
<p>No users yet</p>

{% else %}

<h1>blog users!</h1>

        <ul>
            {% for user in users %}
            <li>
                <a href="./?id={{user.id}}">{{user.username}}

                {% for blog in blogz %}
                    <li>
                        <a href="./?id={{user.id}}"><h1>{{user.blog}}</h1></a>
                    </li>
                {% endfor %} 
                </a>
            </li>

            {% endfor %}
        </ul>
{% endif%}
<!-- M 11/26 you’re left with a route to complete at /user
you can rename that route.  it doesn’t have to be /user if you choose to use a different route, remember to change index.html so that the links point there instead-->
{% endblock %}