<!-- November 19, 2018
Jessica Kincaid
Blogz Assignment 
index.html
HOME PAGE
Displays all of the users' names, linking each to their individual page. 
-->


{% extends "base.html" %}

{% block content %}

{% if user_list|length == 0 %}
<p>No users yet</p>

{% else %}

<h1>blog users!</h1>

        <ul>
            {% for user in user_list %}
            <li>
                <a href="./?id={{user.username}}"><h1>{{user.username}}</h1></a>
            </li>
            <li>
                <a href="/singleUser={{user.blog}}"><h1>{{user.blog}}</h1></a>
            </li> 

            {% endfor %}
        </ul>
{% endif%}
<!-- M 11/26 you’re left with a route to complete at /user
you can rename that route.  it doesn’t have to be /user if you choose to use a different route, remember to change index.html so that the links point there instead-->
{% endblock %}
<!-- 
Note:

@app.route('/', methods=['POST', 'GET'])
def index():
    user_list = []
    user_list = User.query.all()
    return render_template('index.html', users=user_list) -->
