<!-- November 19, 2018
Jessica Kincaid
Blogz Assignment 

singleUser.html
-->

<!-- 
This template will display only the blogs associated with a single given author. It will be used when we dynamically generate a page using a GET request with a user query parameter on the /blog route (similar to how we dynamically generated individual blog entry pages in the last assignment). --> 

{% extends "base.html" %}
{% block content %}
  <body>
<h1>My posts</h1>
        <ul>
                {% for blog in blogz %}
                
                    <li><a href="/?id={{blog.id}}"><h1>{{blog.title}}</h1></a>
                    </li>
                    <li>
                        <p>{{blog.body}}</p>
                    </li> 
                    <li>
                        <p><small>"by " + {{blog.username}}</small></p>
                    </li>
        <hr />  
                {% endfor %}
            </ul>

{% endblock %}

