<!-- November 19, 2018
Jessica Kincaid
Blogz Assignment 
singleUser.html


This template will display only the blogs associated with a single given author. It will be used when we dynamically generate a page using a GET request with a user query parameter on the /blog route (similar to how we dynamically generated individual blog entry pages in the last assignment). --> 

{% extends "base.html" %}
{% block content %}
  <body>
<h1>blog posts</h1>
        <ul>
                {% for user in blogz %}
                
                    <li><a href="/blog?={{blog.user}}"><h1>{{blog.title}}</h1></a>
                    </li>
                    <li>
                        <p>{{blog.body}}</p>
                    </li> 
                    <li>
                        <p><small>"Written by " + {{blog.owner.username}}</small></p>
                    </li>
        <hr />  
                {% endfor %}
            </ul>

{% endblock %}
<!-- 
Note:

@app.route('/', methods=['POST', 'GET'])
def index():
    user_list = []
    user_list = User.query.all()
    return render_template('index.html', users=user_list) 


@app.route('/blog', methods=['POST', 'GET'])
def view_blog():
    id=request.args.get('id')
    # if id:
    #     blog=Blog.query.filter_by(id=id).first()
    blogz = Blog.query.all()
    return render_template('blog.html', blogs=blogz)
-->
